<% if logged_in? %>
  <script id="window-user" type="text/javascript">
    window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>
<main id="root">This shit broke</main>